# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib

# Test binaries
*_test

# Output of 'go build'
*.out
build/
/tmp

# Dependency directories (Go modules)
vendor/

# IDE and editor files
.idea/
.vscode/
*.swp

# macOS
**/.DS_Store

# Environment variables
# .env
