version: "3.8"

networks:
  default:
    name: dev-networks

services:
  apiserver:
    container_name: fiber-api
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "5001:5001"
    volumes:
      - ./:/app
    environment:
      DB_TYPE: pgx
      DB_HOST: postgres
      DB_PORT: "5432"
      DB_USER: postgres
      DB_PASSWORD: password
      DB_NAME: fiber-base
      DB_SSL_MODE: disable
    depends_on:
      - postgres
      - redis

  postgres:
    container_name: postgres
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: fiber-base
    volumes:
      - my-volume:/var/lib/postgresql/data

  redis:
    container_name: app-redis
    image: redis:7
    restart: always
    ports:
      - "6379:6379"

volumes:
  my-volume:
